@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./utilities.css";
@import "./theme.css";
@import "./media.css";
@import "./font.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-GTEestiProText);
  }    
}



/* ------- layout --------- */

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.home-header {
    height: var(--header-height);
}
.home-hero-screen {
    height: calc(100vh - var(--header-height));
}
.grid-cols-header {
  grid-template-columns: auto 1fr 70px;
}
.grid-cols-header img {
  fill: var(--color-ring);
  stroke: var(--color-ring);
  color: var(--color-ring);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}